{% extends "emails/base.html" %}
{% block head_content %}
<title>Sign up</title>
{% endblock %}
{% block container %}
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}
    <form action="{% url 'emails_modify_save' %}" method="POST">
        {% csrf_token %}
        <input class="form-control" type="hidden" name="id_email" value="{{ id }}" />
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Email" name="email" required="true" value="{{ email.email }}"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" placeholder="Priority" name="priority" required="true" value="{{ email.priority }}"/>
        </div>
        <button class="btn btn-primary btn-block mt-5" type="submit">Register</button>
    </form>
{% endblock %}
